<div class="service-card">
  <div class="card-title">
    <span class="box-title">AVALIAÇÃO DA IDENTIDADE VISUAL</span>
  </div>
  <div class="card-title">
    <span class="box-title">GESTÃO DE CONTEÚDO</span>
  </div>
  <div class="card-title">
    <span class="box-title">OTIMIZAÇAO DOS RESULTADOS</span>
  </div>
</div>
<div class="service-card">
  <div class="card-description">
    <span>Analise da identidade existente</span>
    <span>Avaliação da coerência e consistência visual</span>
    <span>Sugestões de melhoria para um posicionamento estratégico</span>
  </div>
  <div class="card-description">
    <span>Elaboração do Calendário Editorial personalizado</span>
    <span>Gestão de publicações para garantir consistência, impacto e relevância</span>
    <span>Sugestões de melhoria para um posicionamento estratégico</span>
  </div>
  <div class="card-description">
    <span>Monitorização contínua</span>
    <span>Relatórios de performance detalhados</span>
    <span>Acompanhamento para garantir o melhor retorno sobre o investimento</span>
  </div>
</div>
