<div class="budget-card-container">
  <div class="budget-card">
    <h2 class="budget-card-title">Pronto para acelerar o crescimento da sua empresa? Agende agora a sua consultoria</h2>
    <a class="budget-card-button" href="mailto:contato@brandlab.com?subject=Pedido de Reunião – Gestão de Redes Sociais&body=Gostaria de marcar uma reunião convosco para falarmos sobre a possibilidade de trabalharmos juntos na gestão das redes sociais do meu negócio.%0D%0A%0D%0AEstou disponível nos seguintes dias/horários:%0D%0A📅 [Inserir disponibilidade]%0D%0A%0D%0AAguardo o vosso feedback para combinarmos o melhor momento.%0D%0A%0D%0A[Nome do Cliente]%0D%0A[Nome da Marca ou Negócio – opcional]%0D%0A[Contacto telefónico – opcional]%0D%0A[Instagram/Website – opcional]">Agendar Reunião</a>
  </div>
</div>
