<app-header></app-header>

<div style="margin-top: 100px">

</div>

<div class="container" style="max-height: 500px">
  <div class="row" style="max-height: 500px">
    <div class="col-lg-6 d-flex align-items-center" style="max-height: 500px">
      <div>
<!--        <div class="img-teste" style="max-height: 500px; width: 100%"><img src="img/teste.jpg"></div>-->
<!--        <span class="f-s-16 f-w-600 m-b-16 d-flex align-items-center">Kick start your project with</span>-->
        <h1 class="banner-title">
          <span>Na Brand Lab, impulsionamos o crescimento do seu negócio com estratégias digitais diferenciadas e personalizadas ao seu negócio. </span>
        </h1>
<!--        <p class="f-s-18 p-y-24 m-t-12 m-0 banner-subtitle"> MatDash comes with light &amp; dark color skins, well-->
<!--          designed dashboards, applications and pages.-->
<!--        </p>-->
<!--        <div class="m-t-24 hstack">-->
<!--          <a class="mdc-button mat-mdc-button-base btn-custom mdc-button&#45;&#45;unelevated mat-mdc-unelevated-button mat-primary" color="primary" href="/authentication/login" mat-flat-button=""-->
<!--          mat-ripple-loader-class-name="mat-mdc-button-ripple" mat-ripple-loader-uninitialized="">-->
<!--            <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>-->
<!--            <span class="mdc-button__label">Login</span>-->
<!--            <span class="mat-focus-indicator"></span>-->
<!--            <span class="mat-mdc-button-touch-target"></span>-->
<!--          </a>-->
<!--          <a class="mdc-button mat-mdc-button-base btn-custom border-primary mdc-button&#45;&#45;outlined mat-mdc-outlined-button mat-primary"-->
<!--          color="primary" mat-ripple-loader-class-name="mat-mdc-button-ripple" mat-ripple-loader-uninitialized=""-->
<!--          mat-stroked-button="">-->
<!--            <span class="mat-mdc-button-persistent-ripple mdc-button__ripple">-->
<!--            -->
<!--          </span>-->
<!--            <span class="mdc-button__label">Live Preview</span>-->
<!--            <span class="mat-focus-indicator"></span>-->
<!--            <span class="mat-mdc-button-touch-target"></span>-->
<!--          </a>-->
<!--        </div>-->
      </div>
    </div>
    <div class="col-lg-6 d-none d-lg-flex" style="max-height: 500px">
      <!--      <div class="p-24 banner-slider">-->
      <div class="col-lg-6 d-none d-lg-flex">
        <om-marquee [pauseOnHover]="false" [vertical]="true">
          <ng-template>
            <div>
              <img alt="Logo" src="img/iphone-1.png" style="max-width: 300px"/>
            </div>
          </ng-template>
          <ng-template>
            <div>
              <img alt="Logo" src="img/iphone-2.png" style="max-width: 300px"/>
            </div>
          </ng-template>
        </om-marquee>
      </div>

      <div class="col-lg-6 d-none d-lg-flex">
        <om-marquee [pauseOnHover]="false" [reverse]="true" [vertical]="true">
          <ng-template>
            <div>
              <img alt="Logo" src="img/iphone-3.png" style="max-width: 300px"/>
            </div>
          </ng-template>
          <ng-template>
            <div>
              <img alt="Logo" src="img/iphone-4.png" style="max-width: 300px"/>
            </div>
          </ng-template>
        </om-marquee>
      </div>
    </div>
  </div>
</div>

<div class="service-section section" id="services">
  <h2>SERVIÇOS</h2>
  <hr class="title-divider">

  <app-service-card></app-service-card>
</div>

<div class="faq-section section" id="faqs">
  <h2>FAQs</h2>
  <hr class="title-divider">

  <app-faq></app-faq>
</div>

<div class="split-background" id="budget">
  <app-budget-card></app-budget-card>
</div>

<app-footer></app-footer>
