/* You can add global styles to this file, and also import other style files */
@import './assets/css/bootstrap.min.css';
@import './assets/css/lineicons.css';
@import './assets/css/tiny-slider.css';
@import './assets/css/main.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



//$primary-font-family: Poppins, sans-serif;
//
//.faq-container {
//  background-color: #f5f1e9;
//  padding: 40px;
//  min-height: 100vh;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
//
//mat-accordion {
//  max-width: 600px;
//  width: 100%;
//}
//
//mat-expansion-panel {
//  margin-bottom: 10px;
//  background-color: #e6ecea; /* Cor de fundo do painel, conforme a imagem */
//  border-radius: 20px !important; /* Bordas arredondadas */
//  box-shadow: none; /* Remove sombra padrão */
//}
//
//mat-expansion-panel-header {
//  background-color: #e6ecea;
//  color: #007bff; /* Texto azul */
//  font-size: 1.2em;
//  border-radius: 20px !important;
//}
//
//mat-expansion-panel-header.mat-expanded {
//  background-color: #e6ecea;
//  border-radius: 20px 20px 0 0 !important; /* Arredondamento apenas no topo quando expandido */
//}
//
//mat-panel-title {
//  font-size: 18px;
//  font-family: Poppins, sans-serif;
//  font-weight: bold;
//  color: white;
//}
//
///* Estilizar o conteúdo do painel */
//mat-expansion-panel p {
//  color: #666; /* Texto cinza */
//  font-size: 1em;
//  padding: 10px;
//}
//
///* Substituir o ícone padrão por + e - */
//mat-expansion-panel-header .mat-expansion-indicator::after {
//  content: "+";
//  border: none;
//  transform: none;
//  font-size: 1.5em;
//  color: #666; /* Cor do ícone */
//}
//
//mat-expansion-panel-header.mat-expanded .mat-expansion-indicator::after {
//  content: "-";
//}


.section, footer {
  padding-top: 30px;
}
